@import 'tailwindcss';

@config '../tailwind.config.js';

@utility break-anywhere {
  overflow-wrap: anywhere;
}

@utility print-exact {
  print-color-adjust: exact;
}

@utility display-initial {
  display: initial;
}

@layer base {
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h2 {
    @apply text-3xl;
  }

  *::-webkit-scrollbar {
    @apply h-[6px] w-[6px] cursor-pointer;
  }
  *::-webkit-scrollbar-track {
    @apply bg-scrollbar-background-light dark:bg-scrollbar-background-dark rounded-full border-2;
  }
  *::-webkit-scrollbar-thumb {
    @apply bg-scrollbar-thumb-light dark:bg-scrollbar-thumb-dark rounded-full border-2;
  }
}
