@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h2 {
        @apply text-2xl underline;
    }
}