name: Maven Build

on:
  push:
    paths:
      - ".github/workflows/build-maven.yml"
      - "**/pom.xml"
      - "**.java"
      - "**.g4"
      - "report-viewer/**"
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - ".github/workflows/maven.yml"
      - "**/pom.xml"
      - "**.java"
      - "**.g4"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  pre_job:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          concurrent_skipping: 'same_content_newer'
          skip_after_successful_duplicate: 'true'

  build:
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: 25
        distribution: 'temurin'

    - uses: actions/setup-node@v6
      with:
        node-version: "lts/*"

    - name: Run Tests
      run: mvn verify -B -U

    - name: Build Assembly
      run: mvn -Pwith-report-viewer clean package assembly:single

    - name: Upload Assembly
      uses: actions/upload-artifact@v5
      with:
        name: "JPlag Jar"
        path: "cli/target/jplag-*-jar-with-dependencies.jar"


